<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                VACA

            </div>
            <div class="menu">
                <ul>

                    <li><a (click)="login()">Home</a></li>
                    <li><a (click)="razasN()">Las Mejores Razas</a></li>
                    <li><a (click)=" precioN()">precio de vacas</a></li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16" (click)=" crud()">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>

                </ul>
            </div>
        </nav>
    </header>
    <div class="content">
        <p>
            La vaca, en el caso de la hembra, o toro, en el caso del macho (Bos taurus), es un mamífero artiodáctilo de
            la familia de los bóvidos. Anteriormente era considerado una subespecie de Bos primigenius, pero un estudio
            reciente lo considera una especie distinta.
            Carecen de incisivos superiores, que son reemplazados por una almohadilla dental. La mandíbula está adaptada
            para el movimiento circular, lo que les permite triturar el pasto con sus molares para que sea lo
            suficientemente fino como para ser digerido correctamente. La lengua es protráctil y está cubierta de
            papilas gustativas córneas que la hacen áspera al tacto.
        </p>
        <p>
            El cuerpo está cubierto de pelos cortos, cuya gama de colores va del blanco al negro pasando por varios
            tonos de rojo y marrón; los motivos o dibujos también son variados, y pueden tener un pelaje de color
            uniforme, con manchas más o menos extensas de otro color, o atigrado. Se apoyan y caminan con el extremo de
            sus dos dedos (ungulados artiodáctilos) que están revestidos con una envoltura córnea que forma una pezuña.
        </p>
    </div>
</div>