<header>
    <nav>
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>

        <div class="menu">
            <ul>
                <li><a (click)="login()">Home</a></li>
                <li><a (click)="razasN()">Las Mejores Razas</a></li>
                <li><a (click)=" precioN()">precio de vacas</a></li>

            </ul>
        </div>
    </nav>
</header>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="wrapper">

    <div class="row mb-2">
        <div class="col-12 text-center pt-3">
            <h1>Las Mejores Razas de Vacas </h1>

        </div>
    </div>

    <!--Start code-->
    <div class="row">
        <div class="col-12 pb-5">
            <!--SECTION START-->
            <section class="row">
                <!--Start slider news-->
                <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
                    <div id="featured" class="carousel slide carousel" data-ride="carousel">

                        <!--carousel inner-->
                        <div class="carousel-inner">
                            <!--Item slider-->
                            <div class="carousel-item active">
                                <div class="card border-0 rounded-0 text-light overflow zoom">
                                    <div class="position-relative">
                                        <!--thumbnail img-->
                                        <div class="ratio_left-cover-1 image-wrapper">
                                            <a href="https://animapedia.org/animales-terrestres/vacas/">
                                                <img class="img-fluid w-100"
                                                    src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2014/08/19/14084373861202.jpg"
                                                    alt="Bootstrap news template" height="460" width="540">
                                            </a>
                                        </div>
                                        <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                            <!--title-->
                                            <a
                                                href="https://www.worldanimalprotection.cr/noticias-y-blogs/blogs/datos-curiosos-vacas-toros-granja-bienestar-animal/">
                                                <h2 class="h3 post-title text-white my-1">Vacas</h2>
                                            </a>
                                            <!-- meta title -->
                                            <div class="news-meta">
                                                <span class="news-author"> <a class="text-white font-weight-bold"
                                                        href="https://www.instagram.com/dulce.saldana85?igsh=MTVpZDA4YTN2cGV0Ng%3D%3D&utm_source=qr">Dulce
                                                        Saldaña Suarez</a></span>
                                                <span class="news-date">jun 20, 2024</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!--end carousel inner-->
                    </div>


                </div>
                <!--End slider news-->

                <!--Start box news-->
                <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
                    <div class="row">
                        <!--news box-->
                        <div class="col-6 pb-1 pt-0 pr-1">
                            <div class="card border-0 rounded-0 text-white overflow zoom">
                                <div class="position-relative">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper">

                                        <img class="img-fluid"
                                            src="https://i.pinimg.com/564x/96/78/94/9678940d97334918de1fe82c3c7dc13c.jpg"
                                            alt="simple blog template bootstrap">

                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">


                                        <!--title-->
                                        <a href="https://portalagroalimentario.com/raza-montbeliarde/">
                                            <h2 class="h5 text-white my-1">Montbéliard</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--news box-->
                        <div class="col-6 pb-1 pl-1 pt-0">
                            <div class="card border-0 rounded-0 text-white overflow zoom">
                                <div class="position-relative">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper">

                                        <img class="img-fluid"
                                            src="https://i.pinimg.com/564x/74/a8/fd/74a8fdbec8bd9c6d4c998e713c701b16.jpg"
                                            alt="bootstrap templates for blog">

                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">

                                        <!--title-->
                                        <a
                                            href="https://zoovetesmipasion.com/ganaderia/razas-bovina/raza-bovina-holstein#google_vignette/">
                                            <h2 class="h5 text-white my-1">Holstein</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--news box-->
                        <div class="col-6 pb-1 pr-1 pt-1">
                            <div class="card border-0 rounded-0 text-white overflow zoom">
                                <div class="position-relative">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper">

                                        <img class="img-fluid"
                                            src="https://i.pinimg.com/originals/a5/85/51/a58551d149248a59cc1886b74f6ee3d6.jpg"
                                            alt="bootstrap blog wordpress theme">

                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">

                                        <!--title-->
                                        <a href="https://www.ganaderia.com/raza/holstein">
                                            <h2 class="h5 text-white my-1">Los Holstein son animales elegantes, grandes
                                                con modelos de color de negro y blanco</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--news box-->
                        <div class="col-6 pb-1 pl-1 pt-1">
                            <div class="card border-0 rounded-0 text-white overflow zoom">
                                <div class="position-relative">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper">

                                        <img class="img-fluid"
                                            src="https://i.pinimg.com/564x/7d/d6/18/7dd61839839257583bbb49a6ef99d7a9.jpg"
                                            alt="blog website templates bootstrap">

                                    </div>
                                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">

                                        <!--title-->
                                        <a
                                            href="https://www.contextoganadero.com/ganaderia-sostenible/montbeliarde-una-raza-de-facil-manejo-en-cualquier-hato-ganadero">
                                            <h2 class="h5 text-white my-1">La Montbéliarde es una raza vacuna de ganado
                                                lechero overo rojo del área de Montbéliard</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end news box-->
                    </div>
                </div>
                <!--End box news-->
            </section>
            <!--END SECTION-->
        </div>
    </div>
    <!--end code-->



</div>