<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>

            <div class="menu">
                <ul>
                    <li><a (click)="login()">Home</a></li>
                    <li><a (click)="razasN()">Las Mejores Razas</a></li>
                    <li><a (click)=" precioN()">precio de vacas</a></li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart3" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>

                </ul>
            </div>
        </nav>
    </header>


    <div id="products" class="row view-group">
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid"
                        src="https://secure.ganaderia.com/razas/Raza593195a9bf291_02062017.jpg " height="400"
                        width="400" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Holstein</h4>
                    <p class="group inner list-group-item-text">
                        Su capacidad corporal es grande, llegando a pesar las hembras entre 600 y 650 kg y los
                        machos hasta 1200 kg La mayoría de los animales de esta raza son dóciles y fáciles de
                        manejar.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $27,000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href=" ">agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid"
                        src="https://st2.depositphotos.com/4012225/6282/i/450/depositphotos_62826319-stock-photo-jersey-gravid-cow-grazing-on.jpg"
                        height="400" width="400" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Jersey</h4>
                    <p class="group inner list-group-item-text">
                        Es un animal de talla pequeña con peso promedio en adultos de entre 350 y 450 kg.
                        Color: bayo claro y bayo negro de las mejores.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $45,000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href=" ">agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid"
                        src="https://img.freepik.com/fotos-premium/razas-vacas-guernsey_87720-51352.jpg" height="400"
                        width="400" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Guernsey</h4>
                    <p class="group inner list-group-item-text">
                        Es una raza que se originó en la isla de Guernsey, en el Canal de La Mancha. Es utilizada para
                        producir leche; tiene un pelaje de color marrón dorado y blanco.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21,3329</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href=" ">agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid" src="https://pbs.twimg.com/media/Ena2IRBXYAMIkrt.jpg"
                        height="400" width="400" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Shorthorn</h4>
                    <p class="group inner list-group-item-text">
                        Son animales altamente eficientes y requieren menos alimento en comparación con otras razas.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $45.875</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="">agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid"
                        src="https://i.pinimg.com/originals/44/d3/89/44d3898544e1dd3b4c618b9f4ca36152.jpg" height="400"
                        width="400" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Normando</h4>
                    <p class="group inner list-group-item-text">
                        Es una raza de doble propósito (carne y leche) con un enfoque en la producción de leche. Toma su
                        nombre de la región de Normandía, en Francia..</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="">agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image img-fluid"
                        src="https://doorcountypulse.com/wp-content/uploads/2016/09/photoGrand-ViewBBBKDreamer.jpg"
                        height="400" width="400" />
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Ayrshire</h4>
                    <p class="group inner list-group-item-text">
                        Esta raza también es conocida como rojo sueco. Son vacas criadas especialmente para la industria
                        láctea y procede de Aryshire en Escocia.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="">agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>