<div class="content col-12 p-0 m-0">
    <div class="row col-12 m-0 justify-content-end">
        <div class="text-center mt-5 col-5 m-auto">
            <h1 class='text-white'>Bienvenidos</h1>
            <div class="form-login">
                <h4>Ingresa tus datos</h4>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
                        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
                            class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
                            class="form-control" id="exampleInputPassword1">
                    </div>

                </form>
                <div class="mb-3 form-check">
                    <button type="submit" class="btn btn-primary" (click)="registro()">Registrame</button>
                </div>
                <div class="mb-3 form-check">
                    <button type="submit" class="btn btn-primary" [disabled]="email == '' || password == '' "
                        (click)="login()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>